<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>City That You`re Searching For Was Not Found!</title>
    
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>

</head>

<body>
    <h1>The City That You`re Searching For Was Not Found!</h1>

    <h2>Do You Want To Try Again With Different Search?</h2>
    
    <form action="/weather">
        <label for="city"></label>

        <input type="text" name="city" id="city"
                                         placeholder="Enter a city" />

        <button type="submit">Request Info</button>
    </form>

</body>
</html>