<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>City That You`re Searching For Was Not Found!</title>
    
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link rel="manifest" href="/site.webmanifest">

</head>

<body>
    <h1>City That You`re Searching For Was Not Found!</h1>
    <h2>Do You Want To Try Again?</h2>
    
    <form action="/weather">
        <label for="city"></label>

        <input type="text" name="city" id="city"
                                         placeholder="Enter a city" />

        <button type="submit">Request Weather Conditions Info</button>
    </form>

</body>
</html>