<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contacts where you can purchase and also ask for extra info and delivery</title>

    <meta name="author" content="Kamen Karaivanov, Vesteros BG Ltd." />

    <link rel="canonical" href="https://www.?????.???/contacts.html">

    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>

</head>

<body>
<h1>Contacts for extra info,purchase and delivery</h1>


<form action="/templates/contacts.html">

</form>

</body>
</html>