<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-49D9STDEKG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-49D9STDEKG');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Камен Караиванов, Вестерос БГ ЕООД" />

    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>

    <title>Get Weather Forecast Info</title>


    <link rel="canonical" href="https://www.predictorian.online/forecast">


    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href=" {{ url_for('static', filename='images/favicon/favicon-16x16.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}"/>
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg', color='#5bbad5') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}"/>

    <meta name="msapplication-TileColor" content="#00aba9"/>
    <meta name="msapplication-config" content="static/images/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff"/>

</head>

<body>

<h1>The Weather Forecast Info Is....</h1>
<p>*** {{ timezone }} ***</p>
<p>*** {{ timezone_offset }} ***</p>
<p>*** {{ sea_level }} ***</p>

    <form action="/forecast">
        <label for="latitude"></label>
        <label for="lat"></label>
        <input type="text" name="latitude_textbox" id="latitude"
                                        placeholder="Enter a latitude" />


        <label for="longitude"></label>
        <label for="lon"></label>
        <input type="text" name="longitude_textbox" id="longitude"
                                        placeholder="Enter a longitude" />

        <button type="submit">Request Weather Forecast Info</button>
    </form>

<!-- Invoke your consent function when a user interacts with your banner -->
<button onClick="allConsentGranted()">Yes</button>

</body>

<footer>
     <img src="{{ url_for('static', filename='images/qr/qr_code.png') }}" alt="qr_code"/>
</footer>

</html>