<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Get Weather Conditions</title>
    

    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>

    <script src="/static/scripts/script.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

</head>

<body>
    <h1>Get Weather Conditions</h1>
    
    <form action="/weather">
        <label for="city"></label>

        <input type="text" name="city" id="city"
                                         placeholder="Enter a city" />

        <button type="submit" itemid="button_index" onclick="changeButtonText()">Request weather conditions info</button>
    </form>

</body>
</html>