<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Get Weather Conditions</title>
    
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    <script src="/static/scripts/script.js"></script>
</head>

<body>
    <h1>Get Weather Conditions</h1>
    
    <form action="/weather">
        <label for="city"></label>

        <input type="text" name="city" id="city"
                                         placeholder="Enter a city" />

        <button type="submit" id="buttons" onclick="changeButtonText()">Request weather conditions info</button>
    </form>

</body>
</html>