<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} времето</title>

    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
    <script src="/static/scripts/script.js"></script>
</head>

<body>
<h1 id="header">В град {{ title }} {{ country_code }} времето към момента е...</h1>

<p>&nbsp;</p>

<p>{{ status }} при {{ temp }} &#8451;</p>
<p>Усеща се като {{ feels_like }} &#8451;</p>
<p>Вятърът е със скорост от {{ wind }} &#13223;</p>
<p>&nbsp;</p>

<form action="/weather">
    <label for="city"></label>

    <input type="text" name="city" id="city"
                                     placeholder="Enter a city"/>

    <button type="submit" id="buttons">Request weather conditions</button>
</form>

<p>&nbsp;</p>
<p>Абревиатура на държавата {{ country_code }}</p>
<p>&nbsp;</p>
<p><font color="white">Координати в десетични градуси</font><br>
<font color="green">Географска ширина: {{ geo_latitude }} </font><br>
<font color="red">Географска дължина: {{ geo_longitude }}</font></p>
<p>&nbsp;</p>
</body>
</html>