<!DOCTYPE html>
<html lang="bg">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} {{ country_code }} времето</title>

    <meta name="author" content="Kamen Karaivanov, Vesteros BG Ltd." />

    <link rel="canonical" href="https://www.predictorian.online/weather.html">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>

</head>

<body>
<h1>В град {{ title }} [{{ country_code }}] времето към момента е...</h1>

<p>&nbsp;</p>

<p>{{ status }} при {{ temp }} &#8451;</p>
<p>Очаквани минимални {{ temp_min }} и максимални {{ temp_max }} температури</p>
<p>Усеща се като {{ feels_like }} &#8451;</p>
<p>Вятърът е със скорост от {{ wind }} &#13223;</p>
<p>&nbsp;</p>

<form action="/weather">
    <label for="city"></label>

    <input type="text" name="city" id="city"
                                     placeholder="Enter a city"/>

    <button type="submit">Request Info</button>
</form>

<p>&nbsp;</p>
<p>Абревиатура на държавата [{{ country_code }}]</p>
<p>&nbsp;</p>
<p><font color="white">Координати в десетични градуси</font><br>
<font color="green">Географска ширина: {{ geo_latitude }} </font><br>
<font color="red">Географска дължина: {{ geo_longitude }}</font></p>
<p>&nbsp;</p>
</body>
</html>